{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<h2 id="userid">{{ request.user.email }}</h2>

<button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
<button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
<button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
<button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
<a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
<hr>

<div id="read-view" class="container">
    <div id="read-sender" class="list-group-item list-group-item-action"></div>
    <div id="read-receiver" class="list-group-item list-group-item-action"></div>
    <a id="read-subject" class="list-group-item list-group-item-action"></a>
    <a id="read-body" class="list-group-item list-group-item-action"></a>
    <div id="read-timestamp" class="list-group-item list-group-item-action"></div>
    <input type="checkbox" id="checkArquive">Arquive
    <br><input type="button" id="replybutton" value="Reply">
</div>


<div id="emails-view" class="container">
    <div id="emails-first"></div>
    <div id="emails-second"></div>
    <a id="emails-third" class="container"></a>
</div>

<div id="compose-view">
    <h3>New Email</h3>
    <form id="compose-form">
        <div class="form-group">
            From: <input disabled class="form-control" id="compose-user" value="{{ request.user.email }}">
        </div>
        <div class="form-group">
            To: <input id="compose-recipients" class="form-control">
        </div>
        <div class="form-group">
            <input class="form-control" id="compose-subject" placeholder="Subject">
        </div>
        <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
        <input id="compose-input" value="submit" class="btn btn-primary" />
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
<noscript>Sorry, your browser does not support JavaScript!</noscript>
{% endblock %}